# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,jsx,ts,tsx,html,css,scss,md}]
charset = utf-8

# 4 space indentation
[*.js,*.jsx,*.ts,*.tsx,*.html,*.css,*.scss]
indent_style = tab
indent_size = 4

# Matches multiple files with wildcard
# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Matches the sole Makefile in the root directory
[Makefile]
indent_style = tab
tab_width = 8

# Matches Rust source files
[*.rs]
indent_style = tab
indent_size = 4

# Matches all YAML files
[*.yaml]
indent_style = space
indent_size = 2

# Matches all JSON files
[*.json]
indent_style = space
indent_size = 2

# Matches all Markdown files
[*.md]
indent_style = space
indent_size = 2

# Matches all Visual Studio Code settings files
[*.vscode/settings.json]
indent_style = space
indent_size = 2

# Matches all editorconfig files
[*EditorConfig]
indent_style = space
indent_size = 2
